<!--<section class="col-md-12 col-xs-12 dashboard-widget-container nopadding ">

  <article class="col-md-12 patch-container">
    <section class="col-md-4 patch-div">
      <app-insight-patch [insightData]="insightArray[0]"></app-insight-patch>
    </section>
    <section class="col-md-4 patch-div">
      <app-insight-patch [insightData]="insightArray[1]"></app-insight-patch>
    </section>
    <section class="col-md-4 patch-div">
      <app-insight-patch [insightData]="insightArray[2]"></app-insight-patch>
    </section>
  </article>

  <article class="col-md-12 chart-container">
    <section class="col-md-8 patch-div Monitoring-heading">
      <article class="col-md-12">
        <span class="col-md-4">Monitoring</span>
        <select class="col-md-offset-2 col-md-5" [(ngModel)]="selectedPool" (ngModelChange)="updatePool($event)">
          <option [ngValue]="pool" class="listfont" *ngFor="let pool of pools">{{pool.value}}</option>
        </select>
      </article>
      <article>
      <app-multiline-chart *ngIf="selectedPoolMontior.key=='Pool'" class="col-md-12"></app-multiline-chart>
      <app-barchart *ngIf="selectedPoolMontior.key=='irrigation'" class="col-md-12"></app-barchart>
      <app-area-chart *ngIf="selectedPoolMontior.key=='Light'" class="col-md-12"></app-area-chart>
      </article>
    </section>
    <section class="col-md-4 patch-div">
      <app-log-reports [reportData]="reportData"></app-log-reports>
    </section>
  </article>



  <article class="col-md-12 table-container">
    <section class="col-md-12 patch-div">
      <table-demo></table-demo>
    </section>
  </article>

  <article class="col-md-12 chart-container">
    <section class="col-md-7 patch-div">
      <app-donut-chart></app-donut-chart>
    </section>
  </article>

</section>-->


<!--changes-->

 <div class="body-content">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 tile-style">
                         <app-insight-patch [insightData]="insightArray[0]"></app-insight-patch>
                    </div>
                    <!--/lights ends-->
                    <div class="col-sm-4 tile-style">
                        <app-insight-patch [insightData]="insightArray[1]" ></app-insight-patch>
                    </div>
                    <!--/Pool ends-->
                    <div class="col-sm-4 tile-style remove-margin">
                         <app-insight-patch [insightData]="insightArray[2]"></app-insight-patch>
                    </div>
                    <!--/Irrigation ends-->
                </div>
                <!--/.top tiles -->
                <div class="row" style="padding-top:16px">
                    <div class="col-sm-8 tile-style" style="margin-bottom:15px;">
                         <app-monitoring></app-monitoring>
                    </div>
                   
                    <!--/Monitoring Div-->
                    <div class="col-sm-4 tile-style reports-div">
                        <app-log-reports [reportData]="reportData"></app-log-reports>
                    </div>
                    <!--/Reports Div-->
                    <div class="col-sm-8 tile-style">
                        <app-alert-table [alertthead]="tableHeader"></app-alert-table>
                        
                    </div>
                    <!--/Alerts Div-->

                </div>
                <!--/chart and reports div -->
            </div>
        </div>

    </div>




