<section class="col-md-12 col-xs-12 dashboard-widget-container nopadding ">

  <article class="col-md-12 patch-container">
    <section class="col-md-4 patch-div">
      <app-insight-patch [insightData]="insightArray[0]"></app-insight-patch>
    </section>
    <section class="col-md-4 patch-div">
      <app-insight-patch [insightData]="insightArray[1]"></app-insight-patch>
    </section>
    <section class="col-md-4 patch-div">
      <app-insight-patch [insightData]="insightArray[2]"></app-insight-patch>
    </section>
  </article>

  <article class="col-md-12 chart-container">
    <section class="col-md-8 patch-div">
      <!--<app-barchart></app-barchart>-->
      <app-multiline-chart></app-multiline-chart>
      <!--<app-pie-chart></app-pie-chart>-->
    </section>
    <section class="col-md-4 patch-div">
      <app-log-reports [reportData]="reportData"></app-log-reports>
    </section>
  </article>

  <article class="col-md-12 table-container">
      <section class="col-md-12 patch-div">
          <table-demo></table-demo>
       </section>
  </article>

  <article class="col-md-12 chart-container">
    <section class="col-md-7 patch-div">
          <app-donut-chart></app-donut-chart>
       </section>
  </article>
  
</section>