<!--<nav class="navbar navbar-default navbar-fixed-top ">
    <section class="navbar-header tpe-header-logo pull-left">
        <section class="navbar-header ">
            <a class="navbar-brand app_icon" href="#">
                <img [src]="topbarConst.TPE_LOGO" />
            </a>

            <article class="tpe_name">
              <span class="tpe_heading">{{topbarConst.TPE_NAME}}</span>
              <span>{{topbarConst.TPE_CAPTION}}</span>
            </article>
        </section>
    </section>


    <section class="headingContainer pull-right">

      

    </section>
</nav>-->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top tpe-header">
    <a class="navbar-brand app_icon col-md-5 logo-heading" href="#">
        <img [src]="topbarConst.TPE_LOGO" class="cs-logo" />
        <article class="tpe_name">
            <article class="tpe_heading">{{topbarConst.TPE_NAME}}</article>
            <article>{{topbarConst.TPE_CAPTION}}</article>
        </article>
    </a>

    <ul class="nav navbar-nav mr-auto col-md-7">
        <li class="nav-item">
            <a class="nav-link" href="#">{{locationData.name}}</a>
            <a class="nav-link" href="#">{{locationData.area}} {{locationData.country}} {{locationData.pincode}} </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">{{temp}} </a>
            <a class="nav-link" href="#">{{temp_condtion }} </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">{{ whatTime | async | date:'hh:mm' }}</a>
            <a class="nav-link" href="#">{{ whatTime | async | date:'MMMM d, y' }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" (click)="signout()">Signout</a>
        </li>
        <li class="nav-item">
            <img [src]="topbarConst.USER_LOGO" class="cs-logo" />
        </li>
        <li class="nav-item">
            <!--<a class="nav-link" href="#">{{userDetailService.userDetails.name}}</a>-->
            <a class="nav-link">User name</a>
        </li>
        

    </ul>

</nav>