<!--<nav class="navbar navbar-default navbar-fixed-top ">
    <section class="navbar-header tpe-header-logo pull-left">
        <section class="navbar-header ">
            <a class="navbar-brand app_icon" href="#">
                <img [src]="topbarConst.TPE_LOGO" />
            </a>

            <article class="tpe_name">
              <span class="tpe_heading">{{topbarConst.TPE_NAME}}</span>
              <span>{{topbarConst.TPE_CAPTION}}</span>
            </article>
        </section>
    </section>


    <section class="headingContainer pull-right">

      

    </section>
</nav>-->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top tpe-header">
    <a class="navbar-brand app_icon col-md-7" href="#">
        <img [src]="topbarConst.TPE_LOGO" />
        <article class="tpe_name">
            <span class="tpe_heading">{{topbarConst.TPE_NAME}}</span>
            <span>{{topbarConst.TPE_CAPTION}}</span>
        </article>
    </a>

    <ul class="nav navbar-nav mr-auto col-md-3">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
    </ul>
    <ul class="nav navbar-nav col-md-2 ">
        <li class="nav-item">
            <a class="nav-link" href="https://medium.com/@beeman"><i class="fa fa-medium" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://twitter.com/@beeman_nl"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://github.com/beeman"><i class="fa fa-github" aria-hidden="true"></i></a>
        </li>
    </ul>
</nav>