<section class=" col-md-12 col-sm-12 nopadding">

  <article class="col-md-12 col-sm-12 patch-detail-container">
    <p class="col-md-12 col-sm-12 patch-heading ">{{insightData.insightHeading}}</p>
    <article class="patch_value col-md-12 nopadding">
      <article class="col-md-6 nopadding">
        <span class="col-md-12 insightValue text-center">{{insightData.insightValue}}</span>
        <span class="col-md-12 insightUnit text-center">{{insightData.insightUnit}}</span>
      </article>
      <article class="col-md-6 nopadding">
        <span class="col-md-12 insightInfo text-center">{{insightData.insightInfo_1}}</span>
        <span class="col-md-12 insightInfo text-center">{{insightData.insightInfo_2}}</span>
      </article>
    </article>

  </article>
</section>


